<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[NuitsJp.GistGet.Test]*,[GistGet.Test]*,[GistGet]*</Exclude>
          <ExcludeByFile>
            **/obj/**/*.cs;
            **\\obj\\**\\*.cs;
            **/UnitGenerator/**/*.g.cs;
            **\\UnitGenerator\\**\\*.g.cs;
            **/*.g.cs;
            **\\*.g.cs;
            **/Program.cs;
            **\\Program.cs;
            **/GitHubClientFactory.cs;
            **\\GitHubClientFactory.cs
            **/GistGet.Test/**/*.cs;
            **\\GistGet.Test\\**\\*.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
