<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>
            **/obj/**/*.cs;
            **\\obj\\**\\*.cs;
            **/UnitGenerator/**/*.g.cs;
            **\\UnitGenerator\\**\\*.g.cs;
            **/*.g.cs;
            **\\*.g.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
